body, html {
    overflow-x: hidden;
}

.topnav {
    background-color: #333;
    height: 55px;
    overflow: hidden;

    a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        height: inherit;

        @media (max-width: 768px) {
            font-size: 20px;
        }

        &.active {
            background-color: #04AA6D;
            color: white;
        }

        &:hover {
            background-color: #ddd;
            color: black;
        }
    }

    div.dropdown {
        height: inherit;
        position: absolute;
        display: inline-block;

        .dropbtn {
            color: white;
        }

        &:hover .dropdown-content {
            display: block;
        }

        &:hover .dropbtn {
            background-color: #3e8e41;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            width: 160px;
            z-index: 1;
            top: 55px;

            & a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                width: 100%;
                height: 55px;

                &:hover {
                    background-color: #f1f1f1
                }
            }
        }
    }
}

.container {
    margin: 30px 0;
    max-width: 1000px;

    @media (max-width: 768px) {
        margin: 15px 0;
    }

    .half-width {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    img {
        margin: 15px 0;
    }

    figcaption {
        font-size: 20px;
        margin-top: -15px;
        text-align: center;

        @media (max-width: 768px) {
            font-size: 22px;
        }
    }

    p, li {
        font-size: 18px;

        @media (max-width: 768px) {
            font-size: 20px;
        }
    }

    h1 {
        @media (max-width: 768px) {
            font-size: 30px;
        }
    }

    h2 {
        @media (max-width: 768px) {
            font-size: 28px;
        }
    }

    h3 {
        margin: 30px 0 20px 0;

        @media (max-width: 768px) {
            margin: 40px 0 20px 0;
            font-size: 26px;
        }
    }

    h4 {
        margin: 25px 0 10px 0;

        @media (max-width: 768px) {
            margin: 30px 0 10px 0;
            font-size: 24px;
        }
    }

    h5 {
        margin: 20px 0 10px 0;

        @media (max-width: 768px) {
            margin: 25px 0 10px 0;
            font-size: 22px;
        }
    }

    h6 {
        @media (max-width: 768px) {
            font-size: 20px;
        }
    }
}

.article-list {
    margin: 0;
    padding: 0;

    li {
        align-items: center;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 15px 0;

        @media (max-width: 768px) {
            flex-direction: column;
            margin: 30px 0;
        }

        .image-container {
            align-items: center;
            display: flex;
            height: 150px;
            justify-content: center;
            margin-right: 50px;
            overflow: hidden;
            width: 250px;

            @media (max-width: 768px) {
                height: 200px;
                margin-right: 0;
                width: 300px;
            }

            img {
                flex-shrink: 0;
                min-width: 100%;
                min-height: 100%;
                width: 100%;
            }
        }

        a {
            color: black;
            font-size: 20px;
            max-width: 50%;
            text-decoration: none;

            @media (max-width: 768px) {
                font-size: 22px;
                max-width: 100%;
                text-align: center;
                width: 100%;
            }
        }
    }
}
