.topnav {
    background-color: #333;
    overflow: hidden;

    a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

        &.active {
            background-color: #04AA6D;
            color: white;
        }

        &:hover {
            background-color: #ddd;
            color: black;
        }
    }
}

.container {
    margin: 30px 0;
    max-width: 1000px;

    .half-width {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    img {
        margin: 15px 0;
    }

    figcaption {
        font-size: 20px;
        margin-top: -15px;
        text-align: center;
    }

    p {
        font-size: 18px;
    }

    h3 {
        margin: 30px 0 20px 0;
    }

    h4, h5 {
        margin: 20px 0 10px 0;
    }
}
